" this will make the clipboard work with the system clipboard
set clipboard+=unnamed
" stop the annoying beeping sound when pressing esc when you should not
set vb

" this ignores the case when searching
set ignorecase
set surround
set textobj-indent
set NERDTree
set multiple-cursors

map <S-Enter> O<ESC>

let mapleader=" "

" set line number and relative line numbers
set number relativenumber

:map <leader>' "0p
:map Y y$
:map <leader>p "0p
map <leader>' viWda'<esc>pa'
map <A-j> <action>(MoveLineDown)
map <leader>" viWda"<esc>pa"
map <A-k> <action>(MoveLineUp)
map <leader>b <action>(GotoDeclaration)
map <leader>r <action>(RenameElement)
nmap <leader>j <action>(GotoRelated)
nmap <leader>e <action>(ShowErrorDescription)
nmap <leader>u `.
nmap <leader>s 1@a
map <c-n> :NERDTree<CR>
map <c-h> [{
map <c-l> %
nmap <c-j> <action>(VcsShowNextChangeMarker)
nmap <c-k> <action>(VcsShowPrevChangeMarker)
map mc <A-n>
map mx <A-x>
map mp <A-p>


" Just to beginning and end of lines easier. From http://vimbits.com/bits/16
" make the leader H and L combination do the original jump to the top and
" bottom of the page
nnoremap <leader>H H
nnoremap <leader>L L
vnoremap <leader>H H
vnoremap <leader>L L
nnoremap H ^
nnoremap L $
vnoremap H ^
vnoremap L $
map <A-l> /\u<CR>
map <A-h> ?\\u<CR>
map J 10j
map K 10k
nnoremap <leader>g `.
nnoremap <leader>f :b#<CR>
nnoremap x "_x

# JavaScript/TypeScript Macros
# --------------------------------
# Console log the selectd text (select text first)
#:vmap <leader>l y<esc>oconsole.log('<esc><leader>pa: ',<esc><leader>pa);<esc>
vmap <leader>l yoconsole.log('<esc>pa: <esc>lli, <esc>p<esc>A;<esc>H

" NOTE to exit and save the current buffer use the build-in ZZ
" exit without saving using ZX from current buffer
nnoremap ZX :q!<enter>
" exit without saving using ZQ from all buffers
nnoremap ZQ :qa!<enter>

" this was added mainly for the $ sign so that when pressing w or e or * or $ these
" cars listed here will be included as part of the word (so the cursor will not select till the $)
set iskeyword=@,48-57,_,192-255,$
set virtualedit=onemore


